@import '../iwish-core';
:host {
  display: block;
}

paper-checkbox {
  &.gray {
    color: $color_font_gray;
  }
}

paper-checkbox.gray::shadow {
  & #checkbox.checked {
    border-radius: 0;
  }
  & #checkbox {
    border-radius: 4px;
  }
  & #checkbox,
  & #ink,
  & #ink[checked] {
    border-color: $color_font_gray;
  }
}






