$input_font: black;
$input_bc_clr: white;
$title_bg: #7986cb;
$done_button_bg: #219CD0;
$modal_bg: #f8f8f8;
$modal_width: 500px;

$border_radius: 3px;

$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);

.iwish-tags {
  paper-input {
    margin: 0 10px;
    height: 5em;
    width: 99%;

    &::shadow {
     paper-input-decorator {
        color: $input_font;

        &::shadow {
          .underline {
            display: none;
          }
        }
      }
    }

    &::after {
      display: block;
      background-color: $input_bc_clr;
      border: 0.6px solid $input_bc_clr;
      border-radius: $border_radius;
      bottom: 2.8em;
      box-shadow: $shadow;
      content: '';
      height: 2.3em;
      left: -0.7em;
      position: relative;
      width: 103.5%;
      z-index: -1;
    }
  } 
}