@import '../iwish-core';
.textarea {
  padding-bottom: 20px;
  width: 100%;

  textarea {
    background-color: none;
    display: block;
  }

  &.wide {
    textarea {
      background-color: white;
      border: 0.6px solid white;
      border-radius: 3px;
      box-shadow: $shadow;
      height: 4em;
    }

    paper-input-decorator {
      width: 100%;

      &::shadow {
        .underline {
          display: none;
        }
      }
    }
  }

  paper-input-decorator {
    margin: 0 auto;
    width: 95%;
    &::shadow {
      color: $input_font;
        .focused-underline {
          background-color: orange;
        }
    }
  }

}

.hint {
  float: right;
  color: $color_font_gray;
  margin-right: 5px;
}