/* General */
$border_radius: 3px;

/* Colors */
$blue: #19CCFF;
$white: white;
$green_ocean: #21D0C6;
$dark_blue: darken($blue, 15%);
$purple: #AE68EA;
$grey: #F8F8F8;
$dark_grey: darken($grey, 65%);
$light_grey: darken($grey, 45%);

$main_bg_color: $grey;

/* Login buttons colors*/

$login_button_bg: $green_ocean;
$sign_up_button_bg: #219CD0;
$forgot_button_bg: #D04E21;
$btn_font_clr: white;
$disabled_login_button_bg: rgb(157, 157, 157);;

/* Label colors*/

$label_button_bg: $blue;
$label_font_clr: white;
$recent_bg: #34D6A3;

/* Input colors */
$input_font: black;
$input_bc_clr: white;
$color_font_gray: gray;

$shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);

/* Font */
$main_font_color: #5F5F5F;
$h1-font-size: 3em;
$h2-font-size: 2em;
$h3-font-size: 1em;
$h4-font-size: 0.5em;

/* Dimensions */
$max_wide_width: 40em;
