/* General */
$border_radius: 3px;

/* Login buttons colors*/

$login_button_bg: #21D0C6;
$sign_up_button_bg: #219CD0;
$forgot_button_bg: #D04E21;
$btn_font_clr: white;
$disabled_login_button_bg: rgb(157, 157, 157);;

/* Label colors*/

$label_button_bg: #19CCFF;
$label_font_clr: white;
$recent_bg: #34D6A3;

/* Input colors */
$input_font: black;
$input_bc_clr: white;
$input_font_gray: gray;

$shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);