@import 'core-variables';

:host {
  display: block;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 300;
}

h1, h2 {
  user-select: none;
}

paper-button {
  border-radius: 0;
  padding: 1em 0;
  margin: 0;

  &::shadow {
    paper-shadow::shadow {
      .paper-shadow-bottom-z-1 {
        box-shadow: $shadow;
      }
    }
  }
  // TEMPORARY - REMOVE ONCE THE SWITCHER IS UNNEDED
  &.iwish-test-button {
    background-color: rgb(186, 186, 186);
    bottom: 0;
    font-size: 10px;
    position: fixed;

    &.show-dialog {
      left: 12em;
      position: fixed;
      z-index: 1;
    }

    &.main-switch {
      left: 0;
    }
    &.sub-switch {
      right: 0;
    }
  }
}

.main {
  display: inline-block !important;
  min-width: 20em;
  width: 100%;

  #mainContainer {
    margin-top: 30px;
  }

  paper-button {
    color: $btn_font_clr;
  }

  #mainPanel > core-animated-pages {
    height: 42em;
    width: 100%;

    section > * {
      height: 100%;
    }
  }

  &.wide {
    display: block;
    margin: auto;
    width: 99%;
    max-width: 40em;

    #mainPanel {
      background: initial;
    }

    #mainContainer {
      margin-top: 0px;
    }

    paper-button {
      display: inline-block;
      padding: 0;
      position: relative;
      border-radius: $border_radius;
    }
  }
}

.wide {
  margin: auto;
  max-width: $max_wide_width;
}
