@import 'core-variables';

:host {
  display: block;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 300;
}

h1, h2 {
  user-select: none;
}

h1, h2, h3, h4, h5 {
  text-overflow: ellipsis;
  overflow: hidden;
}

#comment-button {
  background-color: $green_ocean;
}

paper-button {
  border-radius: 0;
  padding: 1em 0;
  margin: 0;

  &::shadow {
    paper-shadow::shadow {
      .paper-shadow-bottom-z-1 {
        box-shadow: $shadow;
      }
    }
  }
  // TEMPORARY - REMOVE ONCE THE SWITCHER IS UNNEDED
  &.iwish-test-button {
    background-color: rgb(186, 186, 186);
    bottom: 0;
    font-size: 10px;
    position: fixed;

    &.show-dialog {
      left: 12em;
      position: fixed;
      z-index: 1;
    }

    &.main-switch {
      left: 0;
    }
    &.sub-switch {
      right: 0;
    }
  }
}

.main {
  min-width: 20em;
  width: 100%;

  #mainContainer {
    margin-top: 30px;
  }

  paper-button {
    color: $btn_font_clr;
  }

  #mainPanel > core-animated-pages {
    height: 42em;
    width: 100%;

    section > * {
      height: 100%;
    }
  }

  &.wide {
    display: block;
    margin: auto;
    width: 99%;
    max-width: 40em;

    #mainPanel {
      background: initial;
    }

    #mainContainer {
      margin-top: 0px;
    }

    paper-button {
      display: inline-block;
      padding: 0;
      position: relative;
      border-radius: $border_radius;
    }
  }
}

.wide {
  margin: auto;
  max-width: $max_wide_width;
}

.table {
  display: table !important;
}

.table-cell {
  display: table-cell !important;
}

.table-row {
  display: table-row !important;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

.avatar {
  height: 40px;
  width: 40px;
  svg {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 100px;
    overflow: hidden;
  }
}

.loading-pad {
  margin: auto;
  width: 30px;
}
