/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-posts-board-core';

$post_wide_body_width: 70%;

#scrollHolder {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0px;
  -webkit-overflow-scrolling: touch;
}

.post-long {
  margin: auto;
  min-height: 40px;
  width: 100%;

  &.table {
    padding: 30px 0px;
    &.post-title {
      box-shadow: none;
      max-width: 57em;
    }
    > .post-name {
      border-radius: 3px;
      padding: 10px;
      width: $post_wide_body_width;
    }
    > .post-thumbs {
      float: none;
      position: initial;
      width: 15%;
      .table {
        margin: auto;
        width: 80%;
      }
    }
    > .post-comments {
      display: block;
    }
  }
  &.post-title {
    box-shadow: $shadow;
    max-width: 40em;
    padding-bottom: 0px;
    > .post-name {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      box-shadow: none;
      padding: 10px;
      white-space: inherit;
    }
    > .post-thumbs {
      // box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.26);
    }
  }
  &.post-body {
    background: white;
    box-shadow: $shadow;
    margin-bottom: 1px;
    max-width: 37.5em;
    padding: 19px 19px 53px 19px;
    width: initial;

    > .poster {
      color: rgb(133, 133, 133);
      float: right;
      font-size: 0.8em;
      font-weight: 200;
      margin-top: 5px;
      .avatar {
        margin-left: 10px;
      }
    }

    > .post-text {
      color: rgb(81, 81, 81);
      line-height: 20px;
      white-space: normal;
    }

    &.table {
      max-width: 37.5em;
    }
  }
  &.post-tags {
    margin-bottom: 30px;
    padding: 0px;
    > .tags-body {
      background: #F6F6F6;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      box-shadow: $shadow;
      color: #515151;
      max-width: 33em;
      line-height: 20px;
      padding: 15px;

      &.inner-shadow {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.26);
      }
      .tag-holder {
        .tag-body {
          display: inline-block;
        }
      }
    }
  }
}

.post-name {
  background-color: $blue;
  border-radius: 0px;
  box-shadow: $shadow;
  color: $white;
  padding: 0 10px;
  vertical-align: middle;
}

.post-thumbs {
  background: $blue;
  margin-bottom: 1px;
  min-height: 1em;
  padding: 12px 0px;
  width: 100%;

  &.table-cell {
    box-shadow: none !important;
    background: none !important;
    margin-bottom: 0px;
    position: absolute;
    padding: 0px;
    top: 10px;
    right: -10px;
    vertical-align: middle;
    width: 55%;

     .table {
      width: 55%;
      > * {
        color: $main_font_color;
      }
     }
  }
  .table {
    float: right;
    margin-right: 10px;
    width: 35%;
    > * {
      color: $white;
      width: 30%;
      text-align: center;
    }
    i {
      width: 20%;
    }
    .fa-thumbs-o-up, .fa-thumbs-o-down {
      &::before {
        float: left;
        margin-right: 5px;
      }
    }
  }
}

.post-scroller {
  -webkit-transform: translate3d(0, 0, 0);
  &.wide {

  }
}

.main {
  paper-button {
    width: 100%;
  }

 &.wide {
    paper-button {
      width: initial;
    }
 }
}
.tag-icon {
  font-size: 30px !important;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

.post-tag {
  color: $white;
  background-color: $dark_blue;
  box-shadow: $shadow;
  border-radius: $border_radius;
  font-size: 1.3em;
  font-weight: 100;
  margin: 5px;
  min-height: 30px;
  padding: 0px 10px;

  &::shadow #label {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.comments {
  padding-top: 30px;
}

.post-comments {
  display: none;
  vertical-align: middle;
  width: 15%;

  &.responsive {
    display: none;
    width: 30%;
    &.show {
      display: block;
      float: left;
      width: initial;
    }
    .post-comments-count {
      color: $white !important;
    }
  }

  .table {
    margin: auto;
    width: 40%;
    .post-comments-count {
      color: $main_font_color;
      &.fa-comment-o {
        &::before {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
}