/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-posts-board-core';

.post-long {
  &.table {
    padding: 30px 0px 0 !important;
    &.post-title {
      box-shadow: none;
      max-width: 57em;
    }
  }

  &.post-title {
    box-shadow: $shadow;
    max-width: 40em;
    padding-bottom: 0px;
    > .post-name {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      box-shadow: none;
      padding: 10px;
      white-space: inherit;
    }
  }

  &.post-body {
    background: $white;
    box-shadow: $shadow;
    margin-bottom: 1px;
    max-width: 37.5em;
    padding: 19px 19px 53px 19px;
    width: initial;

    > .poster {
      color: $light_grey;
      float: right;
      font-size: 0.8em;
      font-weight: 200;
      margin-top: 5px;
      .avatar {
        margin-left: 10px;
      }
    }

    > .post-text {
      color: $main_font_color;
      line-height: 20px;
      white-space: normal;
    }

    &.table {
      max-width: 37.5em;
    }
  }
  &.post-tags {
    margin-bottom: 30px;
    padding: 0px !important;
    > .tags-body {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      box-shadow: $shadow;
      color: $dark_grey;
      max-width: 33em;
      padding: 15px;

      &.inner-shadow {
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.26);
      }
      .tag-holder {
        .tag-body {
          display: inline-block;
        }
      }
    }
  }
}

.post-name {
  background-color: $blue;
  color: $white;
  padding: 0 10px;
}

.post-thumbs {
  background: $blue;
  margin-bottom: 1px;
  min-height: 1em;
  padding: 12px 0px;

  &.table-cell {
    box-shadow: none !important;
    background: inherit;
    margin-bottom: 0px;
    position: absolute;
    padding: 0px;
    top: 10px;
    right: -10px;
    vertical-align: middle;
    width: 55%;

     .table {
      width: 55%;
      > * {
        color: $main_font_color;
      }
     }
  }
  .table {
    > * {
      color: $white;
    }
  }
}

.post-scroller {
  -webkit-transform: translate3d(0, 0, 0);
}

.tag-icon {
  font-size: 30px !important;
  float: left;
  margin-right: 10px;
  padding: 5px;
}

.post-tag {
  color: $white;
  background-color: $dark_blue;
  box-shadow: $shadow;
  border-radius: $border_radius;
  font-size: 1.3em;
  font-weight: 100;
  margin: 5px;
  min-height: 30px;
  padding: 0px 10px;

  &::shadow #label {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.comments {
  padding-top: 30px;
}

.post-comments {
  &.responsive {
    .post-comments-count {
      color: $white !important;
    }
  }
}

.main {
  paper-button {
    width: 100%;
  }

 &.wide {
    paper-button {
      width: initial;
    }
 }
}