@import '../core';

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

#coreAppAnimationBlock {
  position: absolute;
}

core-drawer-panel {
  overflow: auto;
  &::shadow {
    #drawer {
      z-index: 100;
    }
  }
}

core-animated-pages {
  height: 100%;
  width: 100%;
}

> core-animated-pages section > * {
  height: 100%;
}

[drawer] {
  background-color: $main_bg_color;
  border-right: 1px solid #ccc;
  z-index: 100;
  core-submenu  {
    &.user-menu {
      &::shadow {
        core-item {
          &::shadow {
            core-icon {
              border: 1px solid rgb(196, 196, 196);
              border-radius: 100px;
              overflow: hidden;
            }
            #label {
              max-width: 150px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

button {
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 8px;
}