@import '../core';

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

#coreAppAnimationBlock {
  position: absolute;
}

core-drawer-panel {
  &::shadow {
    #drawer {
      z-index: 100;
    }
  }
}

core-animated-pages {
  height: 100%;
  width: 100%;
}

> core-animated-pages section > * {
  height: 100%;
}

[drawer] {
  background-color: $main_bg_color;
  border-right: 1px solid #ccc;
  z-index: 100;
}

[main] {
}

button {
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 8px;
}