extends layout

block content
  h1 Here are the Boob you were looking for
  iframe(width="640", height="360", src="http://coub.com/embed/49jyb?muted=false&autostart=true&originalSize=false&hideTopBar=false&startWithHD=false", frameborder="0", allowfullscreen)
