extends layout

block content
  h1 Boobs
  iframe(width="640", height="360", src="http://coub.com/embed/49jyb?muted=false&autostart=true&originalSize=false&hideTopBar=false&startWithHD=false", frameborder="0", allowfullscreen)