/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-labels-core';

.core-header {

  padding: 0px 20px;
  z-index: -1;

  &.blue {
    background: $label_button_bg;
  }

  h1 {
    &.white {
      color: $label_font_clr;
    }
    &.gray {
      color: $input_font_gray;
    }
    display: inline-table;
  }
}