/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-inputs-core';

paper-input {
  background-color: $white;
  &.wide {
   background-color: initial;
   &::before {
      bottom: -3em;
    }
  }
}

.hint{
  float: right;
  color: $color_font_gray;
}