/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-posts-board-core';

:host {
  display: inline-block;
  width: 100%;
  z-index: 0;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  margin: 0.3em;
}

.header-holder {
  margin-top: -40px;
  position: relative;
  z-index: 1;
  &.all-posts-wide {
    margin-top: 0px;
  }
}

core-animated-pages {
  max-width: initial;
  section > {
    height: 100%;
    /* must have for iOS and overflow with touch */
    -webkit-transform: translate3d(0, 0, 0);
  }
}

iwish-input-main-search {
  &.wide {
    margin-bottom: 20px;
  }
}

.scroller {
  bottom: 40px;
  display: block;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0px;
  top: 35px;
  -webkit-overflow-scrolling: touch;
  &.wide {
    bottom: 0px;
    max-width: 100%;
    top: 241px;
  }
}

.pad {
  display: block !important;
  margin: auto;
  width: 200px;
  paper-spinner {
    float: left;
  }
}