/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-posts-board-core';

.post-short {
  max-width: 40em;
  padding: 10px 0px;

  &.table {
    max-width: 58em;
  }
}

.post-name {
  background-color: $white;
  border: 0.6px solid $white;
  padding: 50px 10px;
  white-space: inherit;
  width: 99%;
}

.post-thumbs {
  float: right;
  position: relative;
  top: -30px;
  vertical-align: middle;

  .table {
    > * {
      color: $main_font_color;
    }
  }
}