/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

@import '../iwish-headers-core';

.main {
  background-color: $blue;
  height: 40px;
  width: 100%;
  ::content {
    .header-left {
      float: left;
      text-align: center;
      paper-icon-button {
        display: none;
        &#sidemenu-toggel {
          color: white;
          display: inherit;
        }
      }
      > * {
        padding: 8px;
        z-index: 1;
      }
    }

    .header-right {
      display: none;
      float:right;
      text-align: center;
      > * {
        padding: 8px;
        z-index: 1;
      }
      .user-name {
        font-size: 0.8em;
        max-height: 20px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.mid {
    height: inherit;
  }
  &.wide {
    background-color: inherit;
    height: inherit;
    max-width: inherit;
    ::content {
      .header-left {
        paper-icon-button {
          &#sidemenu-toggel {
            display:none;
          }
        }
      }

      .header-right {
        display: inherit;
      }
    }
  }
}


